html {
	background-color: #38D18F;
}
#sideList {
	width: 370px;
}
.Circle2 {
	display: block ; 
	border: 2px solid black;
	background-color: red;
	border-radius:100%;
	text-align: center;
	height:50px;
	width:50px;
}
.Circle {
	display: block ; 
	border: 2px solid black;
	background-color: green;
	border-radius:100%;
	text-align: center;
	height:50px;
	width:50px;
}
.LINE 
{
	display:block;
	position :relative;
	width :50px;
	height :25px;
}
.Contain
{
	width:10%;
	top : 0 em;
	left : 40em;
	position : fixed ;
}
